.label {
  position: relative;
  & > span {
    position: absolute;
    top: -35px;
    left: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f65261;
    opacity: 0.8;
  }
}
