.sideBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin-bottom: 24px;
  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #080707;
  }
  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #424242;
  }
}

.box {
  display: flex;
  & > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  .selectForms {
    width: 200px;
  }
}
