.option {
  padding: 15px 30px;
  background-color: transparent;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: #f65261;
  }
}
.wrapper {
  width: 100%;
}
