.header {
  display: flex;
  justify-content: space-between;
}
.searchButton {
  cursor: pointer;
  background: url('../../../../assets/icons/searchButton.svg') center
    center/cover;
  width: 30px;
  height: 30px;
}
