.input {
  background: rgba(50, 50, 50, 0.8);
  mix-blend-mode: normal;
  opacity: 0.7;
  border: none;
  border-radius: 4px;
  height: 59px;
  width: 100%;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  &::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}
