.card {
  position: relative;
}
.img {
  margin-bottom: 20px;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.titleCard {
  cursor: pointer;
}
