.primary,
.transparent {
  padding: 18px 70px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #f65261;
  border-radius: 4px;
  cursor: pointer;
}
.light {
  background: rgba(96, 96, 96, 0.68);
  border-radius: 4px;
  padding: 11px 18px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #f65261;
  cursor: pointer;
}
.transparent {
  background: transparent;
  border: 1.5px solid #f65261;
  color: #f65261;
}
